
table {
   
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ddd;
    font-family: cursive;
    font-size: medium;
    text-align: center;
   
    border: solid;
    border-color: rgb(48, 45, 48);
    color: rgb(77, 69, 75);
    table-layout: fixed;
  
  
    
}
thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 10px;
  }
form {
    margin: 1% auto;
    border: 10px solid #ddd;
    border-radius: 1px;
   
    font-size: medium;

        

}
form fieldset {
   
    font    : 1.7em/1.5em "handwriting", cursive;
    border  : none;
    padding : 0 20px;
    margin  : 0;
    width   : 100%;
    background   : rgba(0,0,0,.1);
    border-radius: 5px;
    padding-top: 3%;
    text-align: center;

 
}
input {
    padding      : 5px;
    font         : bold .6em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background-color: rgba(235, 235, 235, 0.466);
    font-family: cursive;
    
    
    
  }


table th,td {
    border: 1px;
    border: solid;
    border-color:  rgba(0, 0, 0, 0.507);
    background: linear-gradient(to bottom, rgba(44, 16, 16, 0.1), rgba(255, 243, 254, 0.5));
    border: 3px solid rgb(255, 255, 255);
    
}

  
#home{
    background-color:rgba(rgb(67, 0, 70));
    float:right;
    padding-right: 30%;
   
}
.div1{
    padding-top:2% ;
}
.list1{
    position: relative;
    right: 80%;
    top:50px;
    padding: 5px;
    font-size: large;
    background-color: rgb(255, 255, 255);
    font-family: cursive;
    font-size:xx-large
    
}
.list2{
    position: relative;
    top: 50px;
    padding: 5px;
    font-size: large;
    background-color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: xx-large;
    
}
.list3{
    position: relative;
    left: 80%;
    top:50px;
    padding: 5px;
    font-size: large;
    background-color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: xx-large;
   
}



#image2{
    width: 100px;
    height: 100px;
   
}
#image3{
    width: 300px;
    height: 400px;
}
#image4{
    width: 300px;
    height: 400px;
   
}
#image5{
    width:300px;
    height: 400px;
}
.headersales{
    background-image: url("https://img.freepik.com/free-vector/abstract-shiny-lines-white-gray-background_1017-25097.jpg?size=626&ext=jpg");
}
.body2{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-all-neutral-gray-light-color-striped-old-paper-background-backgroundstripestriped-shadingneutral-image_75140.jpg");
}
#footer2{
    font-weight: bold;
    color: rgb(105, 101, 101);
    text-align: center;
    padding-top: 200px;
    font-size: xx-large ;
    font-family: 'Dosis', sans-serif;

}

*{
    box-sizing: border-box;
    margin: 0;
}
.back{
    
    width: 100;
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/07/00/cookie-ingredients-pattern-on-black-background-vector-21340700.jpg");
}
#logo{
    
    height:250px;
    width: 250px;
}
ul li a {
    text-decoration:  none;
   
    color: #000;
}
ul li {
   
    display: inline-block;
    background-color:rgb(143, 130, 130);
    text-align: center;
    font-size: xx-large;
    text-emphasis-color:rgb(161, 157, 157);
    font-family: cursive;
    
   
}
.bodyht{
    background-image: url("https://gfx4arab.com/wp-content/uploads/2019/08/elegant-white-background-with-shiny-lines_1017-17580-1-300x200.jpg");
}

.imgbody{
    width: 400px;
    height: 455px;
}
main{
    background-color:whitesmoke;
    display: inline-block;
    padding-top: 5%;
    padding-bottom: 5%;
}
#p1{
    
    
    color: black;
    text-indent: 2em; 
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    width: 40%;
    float: right;
    padding-right: 7%;
    padding-bottom: 30px;
}
footer {
    font-weight: bold;
    color: rgb(105, 101, 101);
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding-top: 200px;
    font-size: xx-large;
    
}